# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
node_modules/
dist/
build/

# Environment
.env
.env.local

# Database
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
# IDEs
.idea/
.vscode/
*.swp

# Kubernetes / Minikube local state
.minikube/
kubeconfig
